In [ ]:
!pip install llama-index

In [1]:
import textwrap

import pandas as pd
import phoenix as px
from langchain import OpenAI
from llama_index import StorageContext, load_index_from_storage
from llama_index.response.schema import Response

/Users/xandersong/.virtualenvs/phoenixdev/lib/python3.8/site-packages/umap/distances.py:1063: NumbaDeprecationWarning: The 'nopython' keyword argument was not supplied to the 'numba.jit' decorator. The implicit default value for this argument is currently False, but it will be changed to True in Numba 0.59.0. See https://numba.readthedocs.io/en/stable/reference/deprecation.html#deprecation-of-object-mode-fall-back-behaviour-when-using-jit for details.
  @numba.jit()
/Users/xandersong/.virtualenvs/phoenixdev/lib/python3.8/site-packages/umap/distances.py:1071: NumbaDeprecationWarning: The 'nopython' keyword argument was not supplied to the 'numba.jit' decorator. The implicit default value for this argument is currently False, but it will be changed to True in Numba 0.59.0. See https://numba.readthedocs.io/en/stable/reference/deprecation.html#deprecation-of-object-mode-fall-back-behaviour-when-using-jit for details.
  @numba.jit()
/Users/xandersong/.virtualenvs/phoenixdev/lib/python3.8/site-packages/umap/distances.py:1086: NumbaDeprecationWarning: The 'nopython' keyword argument was not supplied to the 'numba.jit' decorator. The implicit default value for this argument is currently False, but it will be changed to True in Numba 0.59.0. See https://numba.readthedocs.io/en/stable/reference/deprecation.html#deprecation-of-object-mode-fall-back-behaviour-when-using-jit for details.
  @numba.jit()
/Users/xandersong/.virtualenvs/phoenixdev/lib/python3.8/site-packages/umap/umap_.py:660: NumbaDeprecationWarning: The 'nopython' keyword argument was not supplied to the 'numba.jit' decorator. The implicit default value for this argument is currently False, but it will be changed to True in Numba 0.59.0. See https://numba.readthedocs.io/en/stable/reference/deprecation.html#deprecation-of-object-mode-fall-back-behaviour-when-using-jit for details.
  @numba.jit()

In [34]:
# database_df = pd.read_parquet("/Users/xandersong/Desktop/llama-index-data-full/splits/database.parquet")
# query_df = pd.read_parquet("/Users/xandersong/Desktop/llama-index-data/splits/query.parquet")
database_df = pd.read_parquet("/Users/xandersong/Downloads/database_openai.parquet")
query_df = pd.read_parquet("/Users/xandersong/Downloads/query_openai.parquet")

In [41]:
database_df["granular_subject"].value_counts()

American_Idol                     20
Southampton                       18
The_Blitz                         17
Pub                               17
Israel                            17
                                  ..
Flowering_plant                    1
Turner_Classic_Movies              1
Geography_of_the_United_States     1
Hokkien                            1
Wayback_Machine                    1
Name: granular_subject, Length: 433, dtype: int64

In [11]:
llama_database_df = pd.read_parquet("/Users/xandersong/Desktop/llama-index-data-full/splits/database.parquet")
llama_query_df = pd.read_parquet("/Users/xandersong/Desktop/llama-index-data/splits/query.parquet")
openai_api_database_df = pd.read_parquet("/Users/xandersong/Downloads/database_openai.parquet")
openai_api_query_df = pd.read_parquet("/Users/xandersong/Downloads/query_openai.parquet")

In [13]:
pd.merge(llama_database_df, openai_api_database_df, on="text", suffixes=("_llama", "_openai"))

,article_index_llama,granular_subject_llama,broad_subject_llama,text,text_vector_llama,article_index_openai,granular_subject_openai,broad_subject_openai,text_vector_openai
0,0,Beyonc√©,Music,Following the disbandment of Destiny's Child i...,"[0.00039529084460809827, -0.003678029403090477...",0,Beyonc√©,Music,"[-0.04288230091333389, -0.02332954667508602, -..."
1,0,Beyonc√©,Music,"In November 2003, she embarked on the Dangerou...","[-0.011079708114266396, 0.014556094072759151, ...",0,Beyonc√©,Music,"[-0.04744750261306763, -0.034264735877513885, ..."
2,0,Beyonc√©,Music,"In 2011, documents obtained by WikiLeaks revea...","[0.00014355144230648875, -0.018711116164922714...",0,Beyonc√©,Music,"[-0.03642120957374573, -0.02462615631520748, -..."
3,0,Beyonc√©,Music,"In August, the couple attended the 2011 MTV Vi...","[-0.011382809840142727, -0.000503173447214067,...",0,Beyonc√©,Music,"[-0.03636333718895912, -0.022920234128832817, ..."
4,0,Beyonc√©,Music,Beyonc√©'s work has influenced numerous artists...,"[-0.004833301529288292, -0.006622910965234041,...",0,Beyonc√©,Music,"[-0.027973873540759087, -0.027022555470466614,..."
...,...,...,...,...,...,...,...,...,...
2496,440,Myocardial_infarction,Health and Medicine,Tobacco smoking (including secondhand smoke) a...,"[0.011196134611964226, -0.001808877452276647, ...",440,Myocardial_infarction,Health and Medicine,"[-0.00284890690818429, -0.0056467982940375805,..."
2497,440,Myocardial_infarction,Health and Medicine,The evidence for saturated fat is unclear. Som...,"[0.007023566868156195, -0.0071074883453547955,...",440,Myocardial_infarction,Health and Medicine,"[-0.014104289002716541, -0.011779055930674076,..."
2498,440,Myocardial_infarction,Health and Medicine,"At common law, in general, a myocardial infarc...","[-0.013305548578500748, 0.012270527891814709, ...",440,Myocardial_infarction,Health and Medicine,"[-0.015292135067284107, 0.005499580409377813, ..."
2499,441,Matter,Science and Technology,The quark‚Äìlepton definition of ordinary matter...,"[-0.007048637606203556, 0.022659583017230034, ...",441,Matter,Science and Technology,"[0.009820776991546154, 0.006965597625821829, -..."
2500,441,Matter,Science and Technology,Baryonic matter is the part of the universe th...,"[0.015154908411204815, 0.029626334086060524, -...",441,Matter,Science and Technology,"[0.009383376687765121, 0.00650528259575367, -0..."

In [26]:
database_df.head()

,article_index,granular_subject,broad_subject,text,text_vector
0,0,Beyonc√©,Music,Beyonc√© Giselle Knowles-Carter (/biÀêÀàj…ínse…™/ b...,"[0.006957863457500935, -0.005873563699424267, ..."
1,0,Beyonc√©,Music,Following the disbandment of Destiny's Child i...,"[0.00039529084460809827, -0.003678029403090477..."
2,0,Beyonc√©,Music,"A self-described ""modern-day feminist"", Beyonc...","[0.005141089204698801, -0.011763231828808784, ..."
3,0,Beyonc√©,Music,"Beyonc√© Giselle Knowles was born in Houston, T...","[0.008775870315730572, -0.005858324933797121, ..."
4,0,Beyonc√©,Music,Beyonc√© attended St. Mary's Elementary School ...,"[0.003205823013558984, 0.0030714068561792374, ..."

In [4]:
query_df.head()

,id,granular_subject,broad_subject,paragraph_index,text,is_answerable,text_vector
19822,5acf4a8777cf76001a684b20,University_of_Kansas,Education,3,What was the maximum size of the land that Law...,False,"[0.0060654086992144585, 0.002131134970113635, ..."
108143,5a3afa3c3ff257001ab84385,Flowering_plant,Nature and Environment,18,What characteristics of the flower attract spo...,False,"[0.014706652611494064, -0.0055609107948839664,..."
64651,5ad0cada645df0001a2d0398,Gothic_architecture,Architecture,9,What is one useless category of building that ...,False,"[0.01179590355604887, 0.007782443892210722, 0...."
124827,5732824557eb1f1400fd2d58,Dwight_D._Eisenhower,History,81,What term did Eisenhower use to describe the c...,True,"[0.011045362800359726, -0.0017205276526510715,..."
55319,5726635ddd62a815002e8362,East_India_Company,History,9,in 1720 what % of import goods were from India?,True,"[0.016335586085915565, -0.0070611885748803616,..."

In [ ]:
query_df[(query_df["is_answerable"] == "True")].head()["text"].to_list()

In [ ]:
query_df[(query_df["is_answerable"] == "False")].head()["text"].to_list()

In [27]:
storage_context = StorageContext.from_defaults(
    persist_dir="/Users/xandersong/Desktop/llama-index-data-full/indexes/database_index"
)
# model_name = "text-davinci-003"
model_name = "gpt-4"
llm = OpenAI(temperature=0, model_name=model_name)
index = load_index_from_storage(storage_context, llm=llm)
query_engine = index.as_query_engine()

/Users/xandersong/.virtualenvs/phoenixdev/lib/python3.8/site-packages/langchain/llms/openai.py:169: UserWarning: You are trying to use a chat model. This way of initializing it is no longer supported. Instead, please use: `from langchain.chat_models import ChatOpenAI`
  warnings.warn(
/Users/xandersong/.virtualenvs/phoenixdev/lib/python3.8/site-packages/langchain/llms/openai.py:687: UserWarning: You are trying to use a chat model. This way of initializing it is no longer supported. Instead, please use: `from langchain.chat_models import ChatOpenAI`
  warnings.warn(

In [35]:
def display_llama_index_response(response: Response) -> None:
    """
    Displays a LlamaIndex response and its source nodes.
    """

    print("Response")
    print("========")
    for line in textwrap.wrap(response.response.strip(), width=80):
        print(line)
    print()

    print("Source Nodes")
    print("============")
    print()

    for source_node in response.source_nodes:
        print(f"doc_id: {source_node.node.doc_id}")
        print(f"score: {source_node.score}")
        print()
        for line in textwrap.wrap(source_node.node.text, width=80):
            print(line)
        print()

In [36]:
# query = 'What is the name of the character Microsoft used to make Windows 8 seem more personable?'
query = 'On what street does the Santa Monica Freeway begin?'
response = query_engine.query(query)
display_llama_index_response(response)

Response
========
The Santa Monica Freeway (Interstate 10) begins on Pacific Coast Highway in
Santa Monica near the Pacific Ocean.

Source Nodes
============

doc_id: def6bb84-ddeb-4f51-a18e-0bae7c091b58
score: 0.8995916406568247

The Santa Monica Freeway (Interstate 10) begins in Santa Monica near the Pacific
Ocean and heads east. The Santa Monica Freeway between Santa Monica and downtown
Los Angeles has the distinction of being one of the busiest highways in all of
North America. After traversing Los Angeles County, I-10 crosses seven more
states, terminating at Jacksonville, Florida. In Santa Monica, there is a road
sign designating this route as the Christopher Columbus Transcontinental
Highway. State Route 2 (Santa Monica Boulevard) begins in Santa Monica, barely
grazing State Route 1 at Lincoln Boulevard, and continues northeast across Los
Angeles County, through the Angeles National Forest, crossing the San Gabriel
Mountains as the Angeles Crest Highway, ending in Wrightwood. Santa Monica is
also the western (Pacific) terminus of historic U.S. Route 66. Close to the
eastern boundary of Santa Monica, Sepulveda Boulevard reaches from Long Beach at
the south, to the northern end of the San Fernando Valley. Just east of Santa
Monica is Interstate 405, the "San Diego Freeway", a major north-south route in
Los Angeles County and Orange County, California.

doc_id: 9d6a3513-19af-4b8b-b958-ac83fcfc7e96
score: 0.8410398341599143

Santa Monica was long inhabited by the Tongva people. Santa Monica was called
Kecheek in the Tongva language. The first non-indigenous group to set foot in
the area was the party of explorer Gaspar de Portol√†, who camped near the
present day intersection of Barrington and Ohio Avenues on August 3, 1769. There
are two different versions of the naming of the city. One says that it was named
in honor of the feast day of Saint Monica (mother of Saint Augustine), but her
feast day is actually May 4. Another version says that it was named by Juan
Cresp√≠ on account of a pair of springs, the Kuruvungna Springs (Serra Springs),
that were reminiscent of the tears that Saint Monica shed over her son's early
impiety.

In [37]:
# database_df_ = database_df[database_df["broad_subject"] == "Politics and Government"]
database_df_ = database_df.sample(frac=1)
database_df_["is_answerable"] = "unknown"
# query_df_ = query_df[query_df["broad_subject"] == "Politics and Government"]
query_df_ = query_df.sample(frac=1)
query_df_["is_answerable"] = query_df_["is_answerable"].astype(str)

In [38]:
schema = px.Schema(
    embedding_feature_column_names={
        "text_embedding": px.EmbeddingColumnNames(
            vector_column_name="text_vector",
            raw_data_column_name="text",
          )
    },
    tag_column_names=["granular_subject", "broad_subject", "is_answerable"],
)

In [39]:
database_ds = px.Dataset(database_df_, schema, name="database")
query_ds = px.Dataset(query_df_, schema, name="query")

In [40]:
px.launch_app(primary=query_ds, reference=database_ds)

Existing running Phoenix instance detected! Shutting it down and starting a new instance...

üåç To view the Phoenix app in your browser, visit http://localhost:60076/
üì∫ To view the Phoenix app in a notebook, run `px.active_session().view()`
üìñ For more information on how to use Phoenix, check out https://docs.arize.com/phoenix

/Users/xandersong/phoenix/src/phoenix/metrics/timeseries.py:198: FutureWarning: Indexing a timezone-naive DatetimeIndex with a timezone-aware datetime is deprecated and will raise KeyError in a future version.  Use a timezone-naive object instead.
  yield filtered.groupby(

In [ ]:
database_df_ = database_df[~database_df["granular_subject"].isin(["Beyonc√©"])]

In [ ]:
import random

random_subjects = random.sample(database_df["granular_subject"].unique().tolist(), 10)
random_subjects

In [ ]:
database_df_ = database_df[database_df["granular_subject"].isin(random_subjects)]
query_df_ = query_df[query_df["granular_subject"].isin(random_subjects)]

In [ ]:
query_df_ = query_df.groupby(["granular_subject", "paragraph_index"], as_index=False).first().reset_index(drop=True)

In [ ]:
len(query_df.sample(n=2500))

In [ ]:
len(database_df)

In [ ]:
import pandas as pd


def sample_by_percentage(df, percentage_map):
    def sample_group(group):
        subject = group.name
        frac = percentage_map.get(subject, 0)
        return group.sample(frac=frac)

    sampled_df = df.groupby("broad_subject").apply(sample_group).reset_index(drop=True)
    return sampled_df


# Example usage
data = {
    "broad_subject": ["Math", "Science", "Math", "Science", "Math", "Science"],
    "score": [90, 85, 95, 88, 92, 80],
}
df = pd.DataFrame(data)

# Define the percentage map
percentage_map = {
    "Math": 0.5,  # Sample 50% of rows for Math
    "Science": 0.3,  # Sample 30% of rows for Science
}

# Apply the function to the DataFrame
sampled_df = sample_by_percentage(df, percentage_map)
print(sampled_df)

In [15]:
broad_
database_df["broad_subject"]

0                         Music
1                         Music
2                         Music
3                         Music
4                         Music
                  ...
19030    Science and Technology
19031    Science and Technology
19032    Science and Technology
19033    Science and Technology
19034    Science and Technology
Name: broad_subject, Length: 19035, dtype: object

In [ ]:
broad_subject_to_sample_percentage = {
    "Architecture": 5.0,
    "Business and Economy": 0.5,
    "Education": 0.5,
    "Entertainment and Arts": 0.5,
    "Geography and Places": 0.5,
    "Health and Medicine": 0.5,
    "History": 0.5,
    "Language and Linguistics": 0.5,
    "Law and Legal": 0.5,
    "Literature": 0.5,
    "Media and Communication": 0.5,
    "Music": 0.5,
    "Nature and Environment": 0.5,
    "Nonprofit Organizations": 0.5,
    "People and Ethnicity": 0.5,
    "Philosophy": 0.5,
    "Politics and Government": 0.5,
    "Religion and Spirituality": 0.5,
    "Science and Technology": 0.5,
    "Social Sciences": 0.5,
    "Sports": 0.5,
}

In [ ]:
!pip install tiktoken

In [ ]:
import tiktoken

def get_token_count(text):
    encoding = tiktoken.get_encoding("cl100k_base")
    tokens = encoding.encode(text)
    return len(tokens)

database_df["text"].map(get_token_count).sort_values(ascending=False).head(10)